.centered-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
.flex{
    display: flex;
}
.flex-item{
    padding: 5px;
}
ul{
    list-style-type: none;
    padding: 0;
}
body{
    margin:0;
    padding:0;
    background-color: violet;
}

nav{
    background-color: lightgray;
}

.pixel{
    position: absolute;
}
#pixel-board{
    display: flex;
    height:300px;
    width:300px;
    margin:auto;
    position: relative;
}
#control-panel{
    width:100%;
    height: 100px;
    background-color: lightgray;
    border-radius: 5px;
    border: 1px solid black;
    display:flex;
}
.color-button{
    width:25px;
    height:25px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid black;
}

#color-chooser{
    width:250px;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: start;
    align-items: center;
    border: 1px solid black;
    border-radius: 5px;
    background-color: lightgray;
}