
body{
    margin:0;
    padding:0;
    background-color: gray;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

main{
    background-color: #DCDCDC;
    border-radius: 10px;
    box-shadow: 10px 10px 5px #505050;
    padding:30px;
    width: 70%;
    height: 70%;
}

.pixel{
    position: absolute;
}
#pixel-board{
    display: flex;
    height:300px;
    width:100%;
    position: relative;
}
#control-panel{
    width:100%;
    height: 100px;
    background-color: lightgray;
    border-radius: 5px;
    display:flex;
}
.color-button{
    width:25px;
    height:25px;
    margin: 5px;
    border-radius: 50%;
    border: 1px solid black;
}

#color-chooser{
    width:80%;
    height: 50px;
    display: flex;
    flex-direction: row;
    margin: 10px;
    justify-content: start;
    align-items: center;
    border-radius: 5px;
}